################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/bot/Release
/bot/x64/Debug
/Release
/include/websocketpp/out/build/x64-Debug
